<h1 class="genre">
  <%= @genre.name %>
</h1>

<div class="list_specific_music">
<h3>Tracks:</h3>
<% @genre.songs.each do |song| %>
<%= link_to song.name, song %> by <%= song.user.name %><br>
<% end %>
</p>
</div>
