<%= form_for [@music_track, @comment] do |f| %>
<div class="field">
  <h3><%= f.label :content, 'Leave a Comment:' %></h3>
  <%= f.text_area :content, :autofocus => true, size: "100x3" %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
