<h1>DJ's</h1>

<% @users.each_slice(4) do |users| %>
  <div class="row user-row">
    <% users.each do |user| %>
      <div class="span4">
        <%= image_tag user.image.thumb.url %>
        <h3><%= link_to user.name, user %></h3>
        <p><%= user.location %></p>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-style="transparent" data-show_like_label="false" data-counter_type="percent" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false"></span>
<script type="text/javascript" src="//w.likebtn.com/js/w/widget.js" async="async"></script>
<!-- LikeBtn.com END -->
      </div>
    <% end %>
  </div>
<% end %>
