<h1>Listing songs</h1>

<div class="show_songs">

<% @songs.each do |song| %>
  <dl>
    <dt><%= link_to song.name, song %> by <%= song.user.name %></dt>
    <dd> <%= song.description %></dd>
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-style="transparent" data-show_like_label="false" data-counter_type="percent" data-popup_enabled="false" data-show_copyright="false" data-share_enabled="false"></span>
<script type="text/javascript" src="//w.likebtn.com/js/w/widget.js" async="async"></script>
<!-- LikeBtn.com END -->
  </dl>
<% end %>
</div>

<%= link_to 'New Song', new_song_path %>
