<h1>Listing songs</h1>

<div class="show_songs">

<% @songs.each do |song| %>
  <dl>
    <dt><%= link_to song.name, song %></dt>
    <dd> <%= song.description %></dd>
  </dl>
<% end %>
</div>

<%= link_to 'New Song', new_song_path %>
