#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  border: 10px #0066ff
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
body{
    padding-bottom: 50px;
    height: 100%;
    background-image: url(/back.jpg);
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
  color: #0066FF;
}

a:hover {
  color: #0099FF;
  text-decoration: none;
}

.thumbnail_container{
  width: 70em;
  margin: 0 auto;
}

.thumbnail {
  text-align: center;
  border: 0px;
  border-radius: 0px;
  margin-left: 0px;
}

.thumbnails {
  margin: 0 auto;
  width: 63em;
}
.thumbnails li {
  margin: 10px 10px 10px 10px;
}
.thumbnail img {
  margin-top: 12px;
  border: 5px solid black;
  border-radius: 20px;
}z
.thumbnail h3{
  font-size: 22px;
  margin: 0px;
  line-height: 35px;
}
.about {
background: white;
padding: 10px;
border-radius: 10px;
opacity: 0.8;
}
.navbar-inverse .nav li {
  text-transform:uppercase;
}

.navbar-inverse .nav li a{
  color: #0066FF;
}

.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
  color: #c1c30a;
}

.dropdown-menu{
  border-radius: 0px;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus{
  background: black;
}
.music_control{
  width: 50em;
  padding: 10px;
  padding-top: 5px;
  margin: 0 auto;
  margin-top: 20px;
}
.music_control h3{
  margin-top: 0px;
}
.comments_container{
  margin-left: 155px;
}
.comments_container h3{
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.genre{
  text-transform: uppercase;
}
dl{
  margin-bottom: 0px;
  margin-top: 0px;
}
dt{
  margin-left: 5px;
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
dd{
  margin-left: 15px;
}
footer {
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  height: 20px;
  position: fixed;
}
footer p{
  text-align: center;
  color: #0066FF;
}

.user-row div {
  min-height: 200px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}